---
import Layout from '../layouts/Layout.astro';
import Libp2p from '../components/Libp2p';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<h1>LibP2P Custom Proto Test</h1> 

<Layout>


<Libp2p client:only />

 
</Layout>
